html {
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#output {
    display: block;
}

.code {
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

.fraction {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}

.numerator {
    border-bottom: 1px solid black;
    padding: 0 0.2em;
}

.denominator {
    padding: 0 0.2em;
}

.sqrt {
    border-top: 1px solid black;
}

#input {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

input {
    width: 100%;
}

button {
    width: min(10%, 10em);
}

#interim {
    margin: 10px;
}